<%- include("header") -%>
<link rel="stylesheet" href="css/registro.css">
</head>

<body>
    <form class="container-fluid" action="/registro" method="post">
        <img src="Images/Municipalidad.png" alt="Municipalidad San Francisco" class="title-image">
        <div class="row input-box">
            <div class="col-lg-6 input1">
                <p>CUIL</p>
                <input type="text" class ="form-control" placeholder="XX-XXXXXXXX-X" name="cuil" required title="XX-XXXXXXXX-X" pattern="\d\d[-]\d\d\d\d\d\d\d\d[-]\d">
            </div>
            <div class="col-lg-6 input1">
                <p>Nombre</p>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" required>
            </div>
            <div class="col-lg-6 input1">
                <p>Apellido</p>
                <input type="text" class="form-control" placeholder="Apellido" name="apellido" required>
            </div>
            <div class="col-lg-6 input1">
                <p>Domicilio</p>
                <input type="text" class="form-control" placeholder="Domicilio" name="domicilio" required>
            </div>
            <div class="col-lg-6 input1">
                <p>Telefono</p>
                <input type="text" class="form-control" placeholder="Telefono" name="telefono" required>
            </div>
            <div class="col-lg-6 input1">
                <p>Contrase単a</p>
                <input type="password" class="form-control" placeholder="Contrase単a" name="contrasena" required>
            </div>
            <div class="col-lg-6 input1">
                <p>Repetir Contrase単a</p>
                <input type="password" class="form-control" placeholder="Contrase単a" name="rContrasena" required>
            </div>
        </div>
        <button class="btn btn-primary btn-lg" type="submit" name="submit">Registrate</button>
    </form>
    <% if(band){ %>
        <script>alert("Por favor ingrese los datos correctamente")</script>
  <%  } %> 
</body>
</html>