.input{
    width: 50%;
    margin: 0 auto;
}
.inputs{
    padding-top: 15%;
}
.form-group{
    margin-top: 5%;
}

.registrar-button{
    margin-top: 10%;
}

.title-option{
    font-weight: bold;
    font-size: 1.2rem;
}